﻿@model IEnumerable<TeamMembersDB.Models.TeamViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Team Members Statistics";
}

<h2>Team Member Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Members
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.MemberCount
            </td>
        </tr>
    }
</table>